/*@media (min-width: 960px) {

}*/

@media (max-width: 959px) and (min-width: 600px) {
  .jumbo-index .container .row-header h1 {
    font-size: 92px;
  }
  .container .portfolio-header div h1 {
    text-align: center;
  }
  .container .portfolio-header .col-xs-10,
  .container .portfolio-header .col-sm-11 {
    padding:0;
    margin:0;
  }
}

@media (max-width: 599px) and (min-width: 321px) {

  .jumbo-index .container .row-header h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 0;
  }
  .jumbo-index .container .row-header h3 {
    text-align: center;
  }
  .jumbo-saiba .container .row-header h2 {
    font-size: 42px;
  }
  .jumbo-saiba .container h1 {
    border: 1px dashed;
    border-color: #aaa;
    border-radius: 32px;
    margin: 0px 15px;
  }
  .jumbo-saiba .container .row-header h1 img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  .jumbo-saiba .container .row-header h1 {
    font-size: 72px;
  }
  .jumbo-saiba .container .row-header h3 {
    font-size: 24px;
  }
  .gallery .row .col-xs-12 {
    margin: 10px;
  }

  .modal-content {
    width: 80%;
  }
  .modal div {
    width: 80%;
  }
  .close {
    right:20px;
  }
  .close-camisa {
    right: 50px;
  }
  .portfolio-header .col-sm-10,
  .portfolio-header .col-xs-12 {
    border-bottom: 1px dashed #aaa;
  }
  .portfolio-header div {
    padding-left: 20px;
  }
  .portfolio-header .col-xs-10,
  .portfolio-header .col-sm-11 {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .jumbo-index .container .row-header h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 0;
  }
  .jumbo-index .container .row-header h3 {
    text-align: center;
  }
  .jumbo-saiba .container .row-header h2 {
    font-size: 36px;
  }
  .jumbo-saiba .container h1 {
    border: 1px dashed;
    border-color: #aaa;
    border-radius: 32px;
    margin: 0px 5px;
  }
  .jumbo-saiba .container .row-header h1 img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  .jumbo-saiba .container .row-header h1 {
    font-size: 72px;
  }
  .jumbo-saiba .container .row-header h3 {
    font-size: 24px;
  }
  .gallery .row .col-xs-12 {
    margin: 10px;
  }

  .modal-content {
    width: 80%;
  }
  .modal div {
    width: 80%;
  }
  .close {
    right:20px;
  }
  .close-camisa {
    right: 50px;
  }
  .container .portfolio-header .col-sm-10,
  .container .portfolio-header .col-xs-12 {
    border-bottom: 1px dashed #aaa;
  }
  .container .portfolio-header div {
    padding-left: 20px;
  }
  .container .portfolio-header .col-xs-10,
  .container .portfolio-header .col-sm-11 {
    font-size: 36px;
    text-align: center;
  }
}
