<div class="col-xs-12 col-sm-9">
<!-- Everything else comes after -->
  <div class="blog-post">
    <h1 class="blog-post-title">Pensando o seu site</h1>
    <p class="blog-post-summary">
      Você resolveu expandir as fronteiras do seu negócio para além da sua região e pensou que um site poderia ser uma boa forma de começar. E pensou certo! Mas e agora? Qual o próximo passo?
    </p>
    <p class="blog-post-date">Agosto 3, 2016. 18:04.</p>
    <div class="blog-post-text">
      <p>
        No mundo dos negócios, tudo é pensado de forma a proporcionar a melhor experiência possível para os clientes, não é mesmo? Na hora de fazer o site da sua empresa, não é diferente. Os usuários que entram no seu site têm um objetivo muito claro: conhecer um pouco mais sobre você e o que você tem a oferecer. Se gostam do que vêem, entram em contato em seguida. O próximo passo, então, é colocar-se nos sapatos dos futuros usuários do seu site e imaginar que conteúdo você, como cliente, esperaria ver ao longo das páginas do seu site na web.
      </p>

      <p>
        Se você não sabe bem por onde começar, um bom exercício é acessar o endereço eletrônico de outras empresas do seu mesmo ramo de negócios (isso mesmo, os sites da concorrência) e fazer observações. Pesquise no Google e navegue por entre os sites com olhos de águia, observe o que você gostaria de fazer parecido e pense no que você faria diferente.
      </p>

      <p>
        Durante esse exercício, você notará um padrão: existem certas informações e estilos de página quase inerentes ao esqueleto de todos os sites na internet. Por exemplo, o fácil acesso ao endereço da sua empresa e às informações de contato como telefone, fax e e-mail é imprescindível. Você pode notar, ainda, a presença frequente de páginas como "sobre nós" e "quem somos" (<a ui-sref="app.post03" target="_blank">veja o post "<strong>Sobre o 'Sobre nós'</strong>"</a>).
      </p>
      <p>
        Existem ainda páginas que caracterizam o tipo de negócio. Por exemplo, se você possui uma clínica, você terá uma página sobre os diferentes tratamentos que oferece, outra sobre o seu corpo técnico (médicos, enfermeiros...), outra sobre as suas instalações etc. Por outro lado, se você é dono de um bistrô, o seu site incluirá uma página de cardápio, outra sobre o <em>Cheff</em> e o <em>staff</em>, e por aí vai.
      </p>
      <p>
        Existem também páginas que diferenciam a sua empresa de outras do mesmo ramo. Por exemplo, se você é dono de uma lanchonete e a sua proposta é “alimentação sustentável”, seus usuários estarão interessados em saber mais sobre como funciona o processo de reciclagem na sua lanchonete, ou de onde vêm os seus insumos. Em um outro exemplo, se você possui um Buffet, é interessante que o seu site inclua uma página com fotos do local e outra com um portfólio de eventos já realizados.
      </p>
      <p>
        E então, já deu para ter uma ideia básica de quantas páginas o seu site vai ter e de que conteúdo você irá disponibilizar em cada uma delas? Então está na hora de ir lá no site trocar uma ideia comigo! Acesse: <a href="http://cafeamanda.com.br/saibamais.html" target="_blank"><strong>www.cafeamanda.com.br</strong></a>, tire suas dúvidas e solicite o seu orçamento gratuito!
      </p>
    </div>
  </div>
</div>
