<div class="col-xs-12 col-sm-9">
<!-- Everything else comes after -->
  <div class="blog-post">
    <div class="blog-post-date">
      <p>Quarta-feira, 3 de agosto de 2016</p>
      <p>20:58 BRT (Brasília Time) UTC/GMT -3:00</p>
    </div>
    <h1 class="blog-post-title">
      O "Sobre nós"
      <div class="blog-post-date pull-right">
        <a href="javascript:history.back()">« Voltar</a>
      </div>
    </h1>
    <p class="blog-post-summary">
      Algumas pessoas encontram dificuldade quando em situações onde precisam falar sobre si mesmas, principalmente quando querem ou precisam impressionar. E quando se precisa falar do próprio negócio, será que é a mesma coisa?
    </p>
    <div class="blog-post-text">
      <p>
        Você já reparou que a grande maioria dos websites empresariais tem dedicado pelo menos uma página a falar sobre as empresas ou os negócios a que pertencem? Elas são normalmente entituladas por "sobre nós" e ficam ali no topo da página, mas você não as acessa com tanta frequência, não é mesmo?
      </p>
      <p>
        Isso porque, quando se trata de "sobre nós", alguns cometem o equívoco de, por exemplo, meramente copiar e colar "missão, visão e valores" diretamente do Estatuto Social da empresa. Ou ainda, de limitar-se a escrever sobre o próprio negócio em uma única linha: "somos uma empresa que presta este serviço" e ponto. Isso, dentre outros fatores, acaba tornando esta página pouco interessante e pouco visitada.
      </p>
      <p>
        O que muitos empreendedores não percebem é que este espaço demanda zelo e pode ser utilizado de modo a engajar clientes e parceiros, novos e antigos, tornando-os interessados no desenvolvimento do seu negócio junto a você.
      </p>

      <p>Grandes empresas entendem a importância deste espaço e, em vez de uma página só, dedicam um website inteiro, em separado, somente para falar sobre a empresa e sua história, além manter um portal de notícias atualizado diariamente (<a href="http://www.coca-colacompany.com/" target="_blank">A Coca-cola, por exemplo, com o "The Coca-Cola Company"</a>). Existem muitos recursos interessantes que podem ser utilizados para este fim (<a ui-sref="app.post02">veja o post <strong>"Conquistando o Usuário"</strong></a>), como, por exemplo, a criação da sua própria <em>Newsletter</em>, com envio de e-mails semanais de notícias aos cadastrados.
      </p>
      <p>
        Sempre digo que o exercício de pensar pelo ponto de vista do usuário é extremamente importante. O que você gostaria de encontrar na página de "sobre nós" da sua empresa se estivesse do lado de lá? E o que te surpreenderia positivamente se o encontrasse ao abrí-la? De que forma você se sentiria efetivamente parte do que está lendo, ouvindo ou assistindo? Pense com carinho nesta página, ela deve conter a essência do seu negócio.
      </p>
      <p>
        Já sabe o que escrever no "Sobre nós" do seu site? Então <a href="../web-design.html"><strong>clica aqui</strong></a> e preenche o formulário ou entra em contato comigo através do e-mail <strong>contato@cafeamanda.com.br</strong> para tirar todas as suas dúvidas e trocar ideias ou solicitar um orçamento.
      </p>
    </div>
    <div class="text-center">
      <a role="button" class="btn btn-default" href="javascript:history.back()">Voltar</a>
    </div>
  </div>
</div>
