<div ng-controller="PageCtrl">
  <div class="col-xs-12 col-sm-9">
    <!-- Everything else comes after -->
    <div class="container-home">
      <h1 class="text-center">Últimas</h1>
      <div class="col-xs-12 col-sm-4">
        <h5 class="text-center">Primeiros Passos</h5>
        <p class="text-justify"> Você resolveu expandir as fronteiras do seu negócio para além da sua região e pensou que um site...</p>
        <p class="pull-right"><a ui-sref="app.post01">Continue lendo »</a></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h5 class="text-center">Conquistando o Usuário</h5>
        <p class="text-justify">Para consolidar o seu endereço eletrônico na comunidade online, não basta só publicar uma página...</p>
        <p class="pull-right"><a ui-sref="app.post02">Continue lendo »</a></p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h5 class="text-center">O "Sobre nós"</h5>
        <p class="text-justify">Algumas pessoas encontram dificuldade quando em situações onde precisam falar de si mesmas...</p>
        <p class="pull-right"><a ui-sref="app.post03">Continue lendo »</a></p>
      </div>
    </div>
  </div>
</div>
