<div class="col-sm-3 blog-sidebar">
  <div class="sidebar-module">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading-archives">
          <h3 class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#archives" aria-expanded="true" aria-controls="archives">
            Arquivos
          </h3>
        </div>
        <div role="tabpanel" class="panel-collapse collapse in" id="archives" aria-labelledby="heading-archives">
          <div class="panel-body">
            <ol class="list-unstyled">
              <li class="collapsed" role="button" data-toggle="collapse" href="#postsofaug">
                <i class="fa fa-folder"></i>
                Agosto 2016
              </li>
                <ul id="postsofaug" class="collapse">
                  <li>
                    <a ui-sref="app.post01"> Pensando o seu site</a>
                  </li>
                  <li>
                    <a ui-sref="app.post02">7 ideias para engajar seus usuários</a>
                  </li>
                  <li>
                    <a ui-sref="app.post03">Sobre o "Sobre nós"</a>
                  </li>
                </ul>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.blog-sidebar -->
