<div ng-controller="PageCtrl">
  <!-- 2nd jumbotron-->
  <a id="link-to-home" ui-sref="app">
    <header class="jumbotron jumbo-home">
      <div class="container">
        <div class="row row-header">
          <div class="col-xs-12 col-sm-2 col-sm-offset-2">
            <img class="center-block" src="images/lets-grab-a-cup-of-coffee.PNG" style="max-height:150px;">
          </div>
          <div class="col-xs-12 col-sm-6">
            <h1 class="text-center">O <span>Blog</span> da <span>Café</span></h1>
          </div>
        </div>
      </div>
    </header>
  </a>
</div>
