.img-hover img, .img-hover li {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}

.img-hover li:hover {
    -webkit-box-shadow: 0 3px 4px 0 #bbb;
    -moz-box-shadow: 0 3px 4px 0 #bbb;
    box-shadow: 0 3px 4px 0 #bbb;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:translatZ(0) scale(1.10); /* Opera */
    transform:translatZ(0) scale(1.10);
}

.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%);
}

/* MODALS */

#image01, #image02, #image03, #image04, iframe {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#image01:hover, #image02:hover, #image03:hover, #image04:hover, iframe:hover {
  opacity: 0.7;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -ms-transform:scale(1.10); /* IE 9 */
  -o-transform:translatZ(0) scale(1.10); /* Opera */
  transform:translatZ(0) scale(1.10);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 600px;
}

.modal div {
  max-width: 600px;
  margin: auto;
}

.modal h4 {
  color: #ddd;
  text-align: center;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  margin-bottom: 0;
}

.modal p {
  color: #c8c8c8;
  font-family: 'Playfair Display', serif;
  text-align: justify;
  margin: 5px;
  padding-bottom: 20px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 350px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
