.img-hover img, .img-hover li {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}

.img-hover li:hover {
    -webkit-box-shadow: 0 5px 3px 0 #DDE9ED;
    -moz-box-shadow: 0 5px 3px 0 #DDE9ED;
    box-shadow: 0 5px 3px 0 #DDE9ED;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:translatZ(0) scale(1.10); /* Opera */
    transform:translatZ(0) scale(1.10);
}

.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%);
}

/* MODALS */

#image01, #image02, #image03, #image04, iframe {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#image01:hover, #image02:hover, #image03:hover, #image04:hover, iframe:hover {
  opacity: 0.7;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -ms-transform:scale(1.10); /* IE 9 */
  -o-transform:translatZ(0) scale(1.10); /* Opera */
  transform:translatZ(0) scale(1.10);
}
