/*@media (min-width: 960px) {

}*/

@media (max-width: 959px) and (min-width: 600px) {
  .jumbo-index .row-header h1 {
    font-size: 82px;
    text-align: center;
  }
  .jumbo-index .row-header h3 {
    font-size: 20px;
    text-align: center;
  }
  #header-text {
    padding-top: 37px;
  }
  .jumbo-saiba img {
    margin-top:0;
    display:block;
    margin-left: auto;
    margin-right:auto;
  }
  .jumbo-saiba h1 {
    font-size: 70px;
    margin:0 15px;
    padding-top: 20px;
  }
  .jumbo-saiba h3 {
    font-size:20px;
    margin:0 15px;
  }
  #saiba-title h1 {
    font-size:42px;
    margin:15px;
  }
  #saiba-title p {
    padding:15px;
  }
  #saiba-row h1 {
    font-size: 24px;
  }
  #contactButton {
    margin-top:40px;
  }
  .jumbo-blog h1 {
    font-size: 80px !important;
  }
  .panel-body {
    font-size: 12px;
  }
}

@media (max-width: 599px) and (min-width: 321px) {

  .jumbo-index #header-text h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 0;
  }
  .jumbo-index #header-text h3 {
    text-align: center;
    font-size: 20px;
  }
  .jumbo-index #header-text {
    padding-top: 0;
  }
  .jumbo-saiba img {
    margin-top:0;
    display:block;
    margin-left: auto;
    margin-right:auto;
  }
  .jumbo-saiba h1 {
    font-size: 70px;
    margin:0 15px;
  }
  .jumbo-saiba h3 {
    font-size:24px;
    margin:0 15px;
  }
  #saiba-title h1 {
    font-size:40px;
    margin:15px;
  }
  #saiba-title p {
    padding:15px;
    text-align: center;
  }
  #saiba-row h1 {
    font-size: 24px;
  }
  .jumbo-portfolio h1 {
    font-size: 56px;
  }
  .gallery .row .col-xs-12 {
    margin: 10px;
  }
  #contactButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #contato-col-2 {
    text-align: center;
  }
  .jumbo-blog h1 {
    font-size: 48px !important;
  }
  .blog-post-title {
    font-size: 42px;
  }
}

@media (max-width: 320px) {
  .jumbo-index #header-text h1 {
    font-size: 72px;
    text-align: center;
    padding-top: 0;
  }
  .jumbo-index #header-text h3 {
    text-align: center;
    font-size: 20px;
  }
  .jumbo-index #header-text {
    padding-top: 0;
  }
  .jumbo-saiba img {
    margin-top:0;
    display:block;
    margin-left: auto;
    margin-right:auto;
  }
  .jumbo-saiba h1 {
    font-size: 60px;
    margin:0 15px;
  }
  .jumbo-saiba h3 {
    font-size:18px;
    margin:0 15px;
  }
  #saiba-title h1 {
    font-size:32px;
    margin:15px;
  }
  #saiba-title p {
    text-align: center;
    padding:15px;
  }
  #saiba-row h1 {
    font-size: 24px;
  }
  .jumbo-portfolio h1 {
    font-size: 56px;
  }
  .gallery .row .col-xs-12 {
    margin: 10px;
  }
  #contactButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #contato-col-2 {
    text-align: center;
  }
  .jumbo-blog h1 {
    font-size: 42px !important;
  }
  .blog-post-title {
    font-size: 36px;
  }
}
