<div class="col-xs-12 col-sm-9">
<!-- Everything else comes after -->
  <div class="blog-post">
    <div class="blog-post-date" id="date">
      <p>*-feira, * de * de 2016</p>
      <p>*:* BRT (Brasília Time) UTC/GMT -3:00</p>
    </div>
    <h1 class="blog-post-title">
      Title
      <div class="blog-post-date pull-right">
        <a href="javascript:history.back()">« Voltar</a>
      </div>
    </h1>
    <p class="blog-post-summary">

    </p>
    <div class="blog-post-text">
      <p>

      </p>
    </div>
    <div class="text-center">
      <a role="button" class="btn btn-default" href="javascript:history.back()">Voltar</a>
    </div>
  </div>
</div>
