<div class="col-xs-12 col-sm-9">
<!-- Everything else comes after -->
  <div class="blog-post">
    <div class="blog-post-date" id="date">
      <p>Quinta-feira, 8 de setembro de 2016</p>
      <p>01:02 BRT (Brasília Time) UTC/GMT -3:00</p>
    </div>
    <h1 class="blog-post-title">
      Designer pra quê?
      <div class="blog-post-date pull-right">
        <a href="javascript:history.back()">« Voltar</a>
      </div>
    </h1>
    <p class="blog-post-summary">
      Com tanta opção de plataforma online para montar site grátis por aí, será que vale a pena gastar dinheiro contratando web designer? Não seria melhor fazer o site você mesmo, já que, afinal, não há quem entenda melhor do seu negócio?
    </p>
    <div class="blog-post-text">
      <p>
        Para responder a esta pergunta, primeiro eu tenho que explicar tudo aquilo de que um web designer manja nessa vida, além de tomar muito café e arrancar os cabelos sentado de frente pro computador o dia todo. Se ao final deste post você ainda sentir que prefere fazer o seu site por conta própria, eu deixei os links lá embaixo de algumas das plataformas online mais utilizadas para montar sites gratuitamente.
      </p>
      <h3>
        User Experience / Experiência do Usuário
      </h3>
      <p>
        Experiência do usuário (UX) se refere a toda a experiência de uma pessoa usando um determinado produto, sistema ou serviço. O primeiro requisito para uma excelente experiência do usuário é atender às suas exatas necessidades, sem confusão ou incômodo. Este é um dos, se não o mais importante conceito a ser considerado na hora de montar a sua página na internet.
      </p>
      <p>
        Ao contrário de alguém que está começando agora, o web designer é treinado para entrar na mente dos usuários e fazer com que o site lhes proporcione a melhor experiência possível, fazendo o uso de todos os recursos que ele já conhece e sabe como funcionam.
      </p>
      <h3>Design</h3>
      <p>
        O que tem de detalhe que passa despercebido no design de um site não cabe num gibi! Por exemplo, você sabia que existem estudos completos somente sobre tipos de fonte de texto? Dependendo da finalidade, algumas se tornam mais adequadas do que outras. Exceto uma: pelo amor de Nossa Senhora Protetora da Internet, não me tasca uma <span style="font-family: 'Comic Sans', cursive; font-weight: bold;">Comic Sans</span> no seu site inteiro que o usuário sai de lá correndo, antes que ele morra de desgosto!
      </p>
      <p>
        A tipografia nada mais é do que um conjunto de procedimentos e técnicas artísticas que dão ordem, estrutura e forma à comunicação escrita, e o bom web designer aplica estes conceitos da barra de navegação no topo da página ao &copy; <span style="font-family:'Helvetica', sans-serif;">Copyright</span> no rodapé! Fontes, cores, imagens, tamanhos... Tudo isso entra no mix.
      </p>
      <h3>Grau de Personalização</h3>
      <p>
        Ao utilizar plataformas gratuitas de montagem de sites você poderá se deparar com algumas inconveniências. Aqui vão algumas delas:
      </p>
      <p>
        &rtrif; Em primeiro lugar, <strong>tudo é predefinido.</strong> São dadas a você algumas opções de botões, galerias, planos de fundo... e se você desejar personalizar um pouco mais, será necessário fazer uma conta premium e passar a pagar pelo serviço.
      </p>
      <p>
        &rtrif; Em segundo lugar, a conta gratuita geralmente <strong>exibe a propaganda da plataforma</strong> no seu site e elas não são muito discretas, pelo contrário, acabam com o feng shui da sua página!
      </p>
      <p>
        &rtrif; Em terceiro lugar, o endereço do seu site não fica ".com" ou ".com.br" ou ".br" ou ".net", e sim <strong>".nomedaplataforma.com.br"</strong>, assim, gigante mesmo. A menos que: &iexcl;&iexcl;<span style="font-family:'Helvetica',sans-serif;">Tcharam</span>!! Você pague pela conta premium.
      </p>
      <p>
        &rtrif; E em quarto lugar, mas não menos importante, dependendo do tipo de conteúdo que você disponibilizou nas suas páginas, o seu site pode ficar <strong>pesado</strong> e, consequentemente, <strong>lento</strong> na hora de carregar.
      </p>
      <p>
        O web designer conhece inúmeras técnicas para deixar o seu site mais clean, mais profissional, mais rápido, mais facilmente navegável e do <strong>seu</strong> jeito.
      </p>
      <h3>Você Manda, O Designer Faz.</h3>
      <p>
        Só que do jeito certo, ao contrário do computador. Vai dizer que você não briga com a tela de vez em quando, sem entender por que que a coisa não está ficando do jeito que você queria? Fora que se estiver dando ruim, o problema é do designer e não seu! Sente-se e relaxe: o seu site entra no ar daqui a pouquinho.
      </p>
      <hr>
      <p>
        E aí, continua preferindo utilizar as plataformas de criação gratuitas? Então deixa eu cumprir com o prometido. Ó, lá vai:
      </p>
      <h3>
        Plataformas
      </h3>
      <p>&rtrif; <a href="https://www.wordpress.com" target="_blank">WordPress</a></p>
      <p>&rtrif; <a href="https://www.wix.com" target="_blank">Wix</a></p>
      <p>&rtrif; <a href="https://www.nuvemshop.com.br" target="_blank">Nuvem Shop</a></p>
      <hr>
      <p>
        Ou será que ficou afim de saber mais sobre esse tal de web designer? Então <a href="../contato.html" target="_blank"><strong>clica aqui</strong></a> e preenche o formulário para entrar em contato comigo. Você também pode mandar e-mail para o <strong>contato@cafeamanda.com.br</strong> que eu também respondo. Até a próxima!
      </p>
    </div>
    <div class="text-center">
      <a role="button" class="btn btn-default" href="javascript:history.back()">Voltar</a>
    </div>
  </div>
</div>
