<div class="col-xs-12 col-sm-9">
<!-- Everything else comes after -->
  <div class="blog-post">
    <div class="blog-post-date" id="date">
      <p>Quarta-feira, 3 de agosto de 2016</p>
      <p>18:04 BRT (Brasília Time) UTC/GMT -3:00</p>
    </div>
    <h1 class="blog-post-title">
      Primeiros Passos
      <div class="blog-post-date pull-right">
        <a href="javascript:history.back()">« Voltar</a>
      </div>
    </h1>
    <p class="blog-post-summary">
      Você resolveu expandir as fronteiras do seu negócio para além da sua região e pensou que um site poderia ser uma boa forma de começar. E pensou certo! Mas e agora? Qual o próximo passo?
    </p>
    <div class="blog-post-text">
      <p>
        No mundo dos negócios, tudo é pensado de forma a proporcionar a melhor experiência possível para o cliente, não é mesmo? Na hora de fazer o site da sua empresa não é diferente. O cliente que entra no seu site tem um objetivo muito claro: conhecer um pouco mais sobre você e o que tem a oferecer. O primeiro passo, então, é colocar-se nos sapatos dos futuros usuários do seu site e imaginar que conteúdo você esperaria ver em cada uma das páginas.
      </p>
      <p>
        Se você não sabe bem por onde começar, um bom exercício é acessar o endereço eletrônico de outras empresas do seu mesmo ramo de negócios ou parecido e fazer observações. Em outras palavras, secar o site da concorrência 😂
      </p>
      <p>
        Pesquise no Google, navegue pelos sites com olhos de águia, anote o que você acha interessante e pense no que você faria diferente.
      </p>

      <p>
        Durante esse exercício, você notará que existe um padrão: há certas informações e estilos de página quase inerentes ao esqueleto de todos os sites na internet. Por exemplo, o fácil acesso ao endereço da sua empresa e às informações de contato como telefone, fax e e-mail é imprescindível. Você pode notar ainda a repetição das páginas "sobre nós" e "quem somos" (<a ui-sref="app.post03" target="_blank">veja o post "<strong>O 'Sobre nós'</strong>"</a>).
      </p>
      <p>
        Existem ainda páginas que caracterizam o seu tipo de negócio. Por exemplo, se você possui uma clínica, seu site terá uma página sobre os diferentes tratamentos que oferece, outra sobre o seu corpo técnico (médicos, enfermeiros...), outra sobre as suas instalações etc. Por outro lado, se você é dono de um bistrô, o seu site incluirá uma página de cardápio, outra sobre o <em>Cheff</em> e o <em>staff</em>, e por aí vai.
      </p>
      <p>
        Existem também páginas que diferenciam a sua empresa de outras do mesmo ramo. Por exemplo, se você é dono de uma lanchonete e a sua proposta é “alimentação sustentável”, seus usuários estarão interessados em saber mais sobre como funciona o processo de reciclagem na sua lanchonete, ou de onde vêm os seus insumos. Em um outro exemplo, se você possui um Buffet, é interessante que o seu site inclua uma página com fotos do local e outra com um portfólio de eventos já realizados.
      </p>
      <p>
        E então, já consegue ter uma ideia de quantas páginas o seu site vai precisar e de que conteúdo você irá disponibilizar em cada uma delas? Então está na hora de ir lá no site trocar uma ideia comigo! Acesse: <a href="../web-design.html" target="_blank"><strong>www.cafeamanda.com.br</strong></a>, tire suas dúvidas e solicite o seu orçamento gratuito!
      </p>
    </div>
    <div class="text-center">
      <a role="button" class="btn btn-default" href="javascript:history.back()">Voltar</a>
    </div>
  </div>
</div>
