<div class="col-xs-12 col-sm-9">
<!-- Everything else comes after -->
  <div class="blog-post">
    <div class="blog-post-date">
      <p>Quinta-feira, 4 de agosto de 2016</p>
      <p>17:57 BRT (Brasília Time) UTC/GMT -3:00</p>
    </div>
    <h1 class="blog-post-title">
      Conquistando o usuário
      <div class="blog-post-date pull-right">
        <a href="javascript:history.back()">« Voltar</a>
      </div>
    </h1>
    <p class="blog-post-summary">
      Para consolidar o seu endereço eletrônico na comunidade online, não basta só publicar uma página qualquer na internet. Afinal, você precisa de que as pessoas se interessem e interajam com ela. Como fazer para aumentar as chances de que isso aconteça?
    </p>
    <div class="blog-post-text">
      <p>
        Existe uma variedade enorme de recursos que podem ser utilizados para estimular um maior engajamento dos usuários com o seu site, de modo que, ao interagir com ele, eles também se tornem interessados na sua empresa, na sua causa e no seu crescimento. A chave aqui é pensar nos usuários como parte ativa do seu negócio. Estas são algumas ideias simples e adaptáveis, que podem mudar de acordo com o tipo de negócio que você administra.
      </p>
      <h3>1. "Quem somos"</h3>
      <p>
        Esta é uma página bastante comum a websites empresariais hoje em dia, mas poucas pessoas sabem como utilizá-la. Ao entrar nesta página, seus usuários estarão interessados em descobrir quem está por trás do seu negócio e das atividades que ele realiza. Por isso, não basta só escrever um nome e um cargo para cada um de seus funcionários, não é bem isso que estão procurando. O que querem é conhecer seus alicerces, as pessoas que constroem o seu negócio junto com você.
      <p>
        Fotos individuais e uma mini biografia de até 30 palavras para cada uma dessas pessoas, por exemplo, já captariam maior interesse do usuário na sua equipe e no trabalho que realizam, além de inspirar <strong>confiança</strong>.
      </p>
      <h3>2. O dia-a-dia na empresa</h3>
      <p>
        Lembra do que falamos sobre o usuário sentir-se efetivamente parte do que você faz? Não falo aqui sobre um texto detalhado acerca das tarefas que cada setor e funcionário executam rotineiramente. O dia-a-dia na empresa pode ser contado aos poucos, de maneira bem mais agradável que isso. Você pode, por exemplo, fazer uso de <strong>fotos</strong>, <strong>vídeos</strong> e <strong>descrições curtas</strong>, algo parecido com a estrutura utilizada em redes sociais, podendo haver links entre a sua página e os seus perfis na internet (veja o tópico 3).
      </p>
      <h3>3. Redes Sociais</h3>
      <p>
        Seu negócio já possui perfil no Facebook, Twitter ou Instagram? Estas são três das ferramentas mais poderosas no engajamento de usuários, já que permitem feedback através 'curtir', 'compartilhar', 'retweetar' etc. Elas têm sido muito utilizadas para fins de marketing e propaganda.
      </p>
      <p>
        Você pode criar uma interação entre o seu site e as suas redes sociais disponibilizando links de redirecionamento. Por exemplo: você possui uma loja de quadros de pintura e publicou no Instagram a foto de um dos seus quadros no momento do <em>sketch</em>. Disponibilize na descrição do seu Instagram o link para o seu site caso o usuário se interesse pelo resultado final e queira efetuar a compra do quadro. Isso aumenta as chances de o usuário acabar se interessando por outros produtos enquanto navega pelas suas páginas.
      </p>
      <p>
        Da mesma forma, seu site deve incluir links para os seus perfis nas redes sociais.
      </p>
      <h3>4. Depoimentos</h3>
      <p>
        Voltando ao espírito de <em>feedback</em>: o que os seus sócios, funcionários, clientes e parceiros têm a dizer sobre você e o seu negócio? Depoimentos de pessoas que já o conhecem dão aos novos usuários uma noção de <strong>referência</strong>. Além de passar confiança, é outra ótima oportunidade de deixá-los por dentro da essência da sua empresa e aumentar seu interesse no que você faz. Os depoimentos podem estar em formato de texto, mas não é verdade que ficariam bem mais interessantes e dinâmicos em formato de vídeos curtos?
      </p>
      <h3>5. Portal de notícias</h3>
      <p>
        O portal de notícias é interessante tanto para novos usuários quanto para usuários recorrentes. É um excelente recurso para deixá-los a par de tudo que a sua empresa tem realizado nos últimos tempos e anunciar o que está por vir. Dependendo do ramo de negócios no qual você empreende, o portal de notícias pode funcionar também como um portfólio.
      </p>
      <hr>
      <p>
        Gostou das sugestões? Ficou alguma dúvida? Então passa lá na página de <a href="../contato.html" target="_blank"><strong>contato</strong></a> e preenche o formulário ou mande e-mail para <a href="mailto:contato@cafeamanda.com.br?Subject=Ola%20Amanda"><strong>contato@cafeamanda.com.br</strong></a> para bater um papo comigo. Fico no aguardo, até a próxima!
      </p>
    </div>
    <div class="text-center">
      <a role="button" class="btn btn-default" href="javascript:history.back()">Voltar</a>
    </div>
  </div>
</div>
