<footer ng-controller="PageCtrl">
  <div class="container">
    <div class="row row-footer">
      <div class="col-xs-12 col-sm-4">
        <div class="sidebar-module-inset">
          <a ui-sref="app">
            <img class="center-block img-circle" src="images/my_avatar.png"/>
          </a>
          <h4>Amanda Café</h4>
          <p>23 anos, é Designer Web & Gráfica, Freelancer, Blogueira, Cinéfila, Audiófila, Cearense e Café.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 pull-right">
        <h4 style="padding-top:20px;padding-bottom:5px;">Contato</h4>
        <ol class="list-unstyled">
          <li><a href="https://instagram.com/cafeamanda" target="_blank">
            <i class="fa fa-instagram fa-lg"></i>
            cafeamanda
          </a></li>
          <li><a href="../index.html">
            <i class="fa fa-arrow-left fa-lg"></i>
            cafeamanda.com.br
          </a></li>
          <li><a href="mailto:contato@cafeamanda.com.br?Subject=Ola%20Amanda" target="_top">
            <i class="fa fa-envelope-o fa-lg"></i>
            contato@cafeamanda.com.br
          </a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <p class="text-center">© Copyright 2016 <a href="http://cafeamanda.com.br" target="_blank">Café</a></p>
    </div>
  </div>
</footer>
